[2018-11-14 06:11] shabab477 opened #4 "Google Analytics for gh-page"
I think we can have a google analytics setup for monitoring web traffic. This should help us decide suitable sponsor in the future.  Probably a feature request that can be considered.

[2018-11-14 13:03] zonayedpca commented on #4
Good idea brother... If you can help **devsonket** with that, it would be great...

[2018-11-15 19:35] ohidxy opened #10 "আমরা কি রিয়েল টাইম কমিউনিকেশনের জন্যে Telegram, WhatsApp অথবা Discord ব্যবহার করতে পারি?"
কেন এইটা চাচ্ছি?
১। সবার একটা কমন কমিউনিকেশন এর ব্যাবস্থা হতে পারে।
২। নিয়মিত টেকনোলজি আপডেট এই গ্রুপে শেয়ার করতে পারি।
৩। আরও নতুন কোন প্রজেক্ট কিম্বা অন্য কোন রিলেটেড বিষয় নিয়ে আলোচনা করতে পারি।
৪। একে অপরের ছোট খাটো কোড রিলেটেড সমস্যা সমাধান করতে পারি।

আমার ব্যক্তিগত পছন্দ Telegram.

[2018-11-15 20:58] selectiveduplicate commented on #4
@zonayedpca If GA is planned to be added, I think you're gonna have to do it from your end because it will require the "orignal" website URL, plus you're gonna have to sign up and get a "tracker ID" and "tracker script", which can be loaded via the ``index.html``.

[2018-11-16 04:03] zonayedpca commented on #10
ভালো আইডিয়া ভাই। ডেভেলপাররা বিশেষ করে Slack ইউজ করে থাকে... ডেভেলপারদের জন্যে বেশ কিছু ফিচার থাকার কারণে এটা বেশ পপুলার... আমার মনে হয় Slack ভালো হবে...

[2018-11-16 04:12] ashrafulais commented on #10
Slack is nice and popular to dev community I think.

[2018-11-16 05:07] zonayedpca commented on #4
Do you think we should add GA? Please vote for GA...

[2018-11-16 06:30] kingRayhan opened #13 "কিসের চিটশীট চান?"
vscode এর চিটশীট যুক্ত করতে চাই।

[2018-11-16 06:31] dibakarsutradhar commented on #13
দয়া করে পুল রিকুয়েস্ট দিন, আমরা যুক্ত করে দিবো। ধন্যবাদ।

[2018-11-16 06:43] kingRayhan commented on #13
ধন্যবাদ , অতি শীঘ্রই pull request send করব ইনশাল্লাহ 😄

[2018-11-16 06:44] dibakarsutradhar commented on #13
ধন্যবাদ। অনেক বেশী কন্ট্রিবিউশন আশা করছি আপনার কাছ থেকে ভাই।

[2018-11-16 07:13] ruhulwebdev opened #15 "Use tools like prettier and eslint to make code style consistent"
Consider using prettier + eslint to make code style consistent across all the contributors. Otherwise we'll have to deal with a thousand different code style...

[2018-11-16 07:59] zonayedpca commented on #15
I think we should include something like this with our project so that everyone can have the same style. I don't have enough knowledge about them. Prettier ESLint might be a good solution, but still, I am not. Please let us know what do you think...

[2018-11-16 08:03] iamruhul commented on #15
yeah prettier and eslint the go to solution nowadays.. so that's a good starting point

[2018-11-16 08:06] selectiveduplicate commented on #4
I myself am pretty unfamiliar to GA, but basically it gives you statistics about the visitors that visit your site, how they use it etc; pretty much an advanced version of what you see in a Blogger blog.

[2018-11-16 08:12] iamruhul commented on #15
@zonayedpca  CRA already includes an amazing eslint config by default - [eslint-config-react-app](https://www.npmjs.com/package/eslint-config-react-app)... so that might be considerable...

[2018-11-16 08:13] zonayedpca commented on #10
সবাই প্লীজ ভোট করুনঃ আমাদের কি কমিউনিকেশনের জন্যে কোন মাধ্যম দরকার? দরকার হলে সেটা কিভাবে?

[2018-11-16 08:13] iamruhul commented on #10
Slack is a norm..

[2018-11-16 08:19] iamruhul commented on #15
this links could be useful
...
[a medium post](https://medium.freecodecamp.org/integrating-prettier-with-eslint-and-stylelint-99e74fede33f)

[prettier official site](https://prettier.io/docs/en/eslint.html)

[2018-11-16 08:28] jabertuhin opened #16 "Java cheat sheet and a query"
Currently I am working on "java-cheat-sheet". I haven't worked with json before, so using "c-cheat-sheet" as a template.
And I think in the "c-cheat-sheet", right and left shifting operators are missing under "বিট লজিক্যাল অপারেটর অথবা বিটওয়াইজ অপারেটর".
For some English words, it's much more suitable to use that instead of Bangla. I am little bit confuse about this part. Ex. should I use "রেঞ্জ"

[2018-11-16 10:01] ohidxy commented on #10
I agree on using Slack for communication purpose.

[2018-11-16 10:49] zonayedpca commented on #10
আমরা **স্ল্যাক** এ একটা ওয়ার্কস্পেস খুলেছি... যেকেউ [এই লিঙ্ক](https://join.slack.com/t/devsonket/shared_invite/enQtNDgxNDIwNTkyNjQyLWYwN2ZkZGMyOTNhMTM3ZDU4NzE5NDFjY2ExMTM3YWMzNWFhODU4NjJhMDJlNjBlMTBhY2VkZDRjY2E1ZWI3MTc) থেকে জয়েন করতে পারবেন... সবাইকে ধন্যবাদ 👍

[2018-11-16 14:37] selectiveduplicate opened #21 "Formatting Linux command-line cheatsheet"
I'm just opening this as an "issue" for discussion. I suggest that we format and break down the Linux command-line cheatsheet into a couple of "sections", like:

- System information
- Hardware information
- File and directory commands
- User management
- Compression/working with compressed files
and so on.

I'm expecting thoughts and comments... :slightly_smiling_face:

[2018-11-16 15:33] jamal-pb95 commented on #21
@selectiveduplicate Good idea man!

[2018-11-16 16:05] zonayedpca commented on #21
Good Idea Brother... If you can update them, please do the update... Otherwise, I hope someone else will update that... 👍

[2018-11-16 16:40] selectiveduplicate commented on #21
Okay I'll start working on it.
I'll be a bit busy but hope to commit by Monday.

[2018-11-16 17:39] dibakarsutradhar commented on #21
Good Idea Brother !

[2018-11-18 05:40] zonayedpca opened #25 "টপ কন্ট্রিবিউটর"
প্রতি সপ্তাহে আমরা ৪-৫জন করে টপ কন্ট্রিবিউটর সিলেক্ট করবো। তাদের নাম, তাদের গিটহাব প্রোফাইলের লিঙ্কসহ ডেভ সংকেত এর হোমপেজে থাকবে। আমি মনে করি তাহলে কিছুটা হলেও কন্ট্রিবিউটরদের কাজে আসবে ব্যাপারটা। কন্ট্রিবিউটররা তাদের প্রোফাইল সবার সামনে তুলে ধরতে পারবে। সবার মতামত আশা করছি...

[2018-11-18 05:42] menomanabdulla commented on #25
it's really good approach. I appriciate that vai :)

On Nov 18, 2018 11:40 AM, "Zonayed Ahmed" <notifications@github.com> wrote:

প্রতি সপ্তাহে আমরা ৪-৫জন করে টপ কন্ট্রিবিউটর সিলেক্ট করবো। তাদের নাম, তাদের
গিটহাব প্রোফাইলের লিঙ্কসহ ডেভ সংকেত এর হোমপেজে থাকবে। আমি মনে করি তাহলে
কিছুটা হলেও কন্ট্রিবিউটরদের কাজে আসবে ব্যাপারটা। কন্ট্রিবিউটররা তাদের
প্রোফাইল সবার সামনে তুলে ধরতে পারবে। সবার মতামত আশা

[2018-11-18 06:55] jabertuhin opened #26 "BugFix"
![bugfix](https://user-images.githubusercontent.com/22750032/48669544-f10e3d80-eb30-11e8-851d-d99e58efafbb.png)

This needs to be fixed in both "জাভা প্রোগ্রামিং" and "সি প্রোগ্রামিং টুকিটাকি".

[2018-11-18 07:03] dibakarsutradhar commented on #26
ধন্যবাদ বাগ ধরিয়ে দেয়ার জন্য। খুব শীঘ্রই এটার সমাধান করা হবে।

[2018-11-18 07:43] dibakarsutradhar commented on #26
সমস্যা সমাধান করা হয়েছে।

[2018-11-18 07:43] #26 closed

[2018-11-18 12:13] #16 closed

[2018-11-18 14:42] Hasnayeen opened #30 "Add example for commands (Feature request)"
It'll be a nice addition to have example for corresponding commands. For example in linux command page when a command is clicked a modal can be open with example of using that bash command.

[2018-11-18 14:54] dibakarsutradhar commented on #30
Thanks for the suggestion. We'll sure work on this matter all together.
@zonayedpca  Look into this suggestion.

[2018-11-19 05:48] Revel109 opened #34 "Django"
It would be great if we have the Django-cheatsheet. If needed I can contribute.

[2018-11-19 05:59] zonayedpca commented on #34
Sure, brother... We want your contribution... 👍 If you need any help, then you can discuss with us... We are looking forward to your contribution...

[2018-11-19 06:44] #4 closed

[2018-11-19 08:13] #21 closed

[2018-11-19 17:58] Revel109 commented on #34
OK. I have free time at weekends. I will manage time for this. Will Let you know If I do face any issue.

[2018-11-20 03:37] SMAN2901 opened #39 "Syntax error in C++ nput output functions"
Input/Output, logs and errors showing functions should be cin>>, cout<<, clog<< and cerr<<. The angle brackets are given in opposite direction. Please fix this.

[2018-11-20 03:52] zonayedpca commented on #39
Thank You, Brother, for informing us... We will fix that 👍

[2018-11-20 04:18] zonayedpca commented on #30
We are still in trouble with multiline code... Hope we'll figure this out soon... If anyone can help **devsonket** with this problem, please make a PR or discuss it with us so that we can solve the problem.

[2018-11-20 05:10] dibakarsutradhar commented on #39
Thanks brother. We’ll fix it by today.

[2018-11-20 05:12] dibakarsutradhar commented on #30
It’s possible to achieve in current system by using ‘/n’ newline command on the code.

[2018-11-21 02:27] shuvo-sutradhar opened #42 "সমস্যা"
লারাভেল পিএইচপি ফ্রেমওয়ার্কে,  টেবিল গুলো মুছে ফেলে নতুন করে টেবিল তৈরি করতে চাইলে যেই কমান্ড
 দেওয়া হয়েছে সেটা মনে হয় php artisan migrate:reset এর পরিবর্তে php artisan migrate:refresh হবে ।

[2018-11-21 04:18] zonayedpca commented on #42
ধন্যবাদ ভাই... আপনি শিউর হলে একটা পুল রিকোয়েস্ট দিতে পারেন... অথবা যেকেউ যদি শিউর থাকেন তাহলে দয়া করে পুল রিকোয়েস্ট, অথবা এখানে জানাবেন... আমি ব্যক্তিগতভাবে লারাভেল নিয়ে কাজ করি না, তাই আমার ধারণা নাই...

[2018-11-21 05:54] iamruhul commented on #42
# It will be  `php artisan migrate:fresh` actually...

![screenshot from 2018-11-21 11-50-41](https://user-images.githubusercontent.com/31810947/48821543-f3b4a100-ed83-11e8-8f62-06749df1a33e.png)

[2018-11-21 06:03] #42 closed

[2018-11-21 06:48] shuvo-sutradhar commented on #42
Thanks.
I  was talking about rollback and migrate.

[2018-11-21 18:04] ShakilAhmmed opened #45 "ELOQUENT"
কি কি চান বিস্তারিত লিখুন

[2018-11-22 09:08] jabertuhin opened #47 "Adding C++ STL"
Currently adding c++  stl in the  "cpp.json" file.

[2018-11-22 14:15] zonayedpca commented on #47
Sure, brother... We are looking forward to your contribution 👍

[2018-11-22 14:17] zonayedpca commented on #45
ডেভ সংকেতের সাথে থাকার জন্যে ধন্যবাদ 👍 আমরা আপনার প্রশ্নটা ঠিক বুঝলাম না, আরেকটু পরিষ্কার করে বলবেন কি?

[2018-11-23 15:14] shabab477 opened #50 "Add link sharing feature on cheat sheet blocks"
I want a small copy link button that copies anchor link to a particular cheat sheet block and be easily shareable by just pasting it and sending to someone.

[2018-11-24 05:47] #45 closed

[2018-11-24 06:05] zonayedpca opened #51 "সিএসএস স্টাইলিং এবং রেসপন্সিভ সমস্যা"
এখানে কিছু কিছু চিটশীটের স্টাইলিং এ সমস্যা হচ্ছে, সেই সাথে মোবাইলেও ঠিকমতো রেসপন্সিভ হচ্ছে নাঃ
![image](https://user-images.githubusercontent.com/18544717/48965076-4dafa380-efdc-11e8-8048-a6e6b02d7e14.png)
- কিছু কার্ড ওভারফ্লো করার কারণে হরিজন্টাল স্ক্রল হয়ে যাচ্ছে(কার্ডগুলোর ভিতরের স্টাইল ঠিক করলে এটা সমাধান হয়ে যাবে)
![image](https://user-images.githubusercontent.com/18544717/48965083-85b6e680-

[2018-11-24 09:02] Hasnayeen opened #52 "Add a background color to command for easier reading (Suggestion)"
Background color, something like following picture would give better contrast and separation for command
![devsonket](https://user-images.githubusercontent.com/9433499/48966330-ccffa000-eff9-11e8-8215-e4900edfe95f.png)

[2018-11-24 09:08] shabab477 commented on #52
Thank you for your feedback. Do you want to take a shot at it and create a PR for this feature?

[2018-11-24 09:21] shabab477 opened #53 "Json generator for easy contribution."
Right now it is very difficult to contribute to the repo because the contributor needs to write file in json format and then create a PR. This is not readable and makes it pretty hard to contribute. A json generator should be made in order to create json file from simple UI.

[2018-11-24 19:20] zonayedpca opened #56 "সব কন্ট্রিবিউটারদের অবদান দৃশ্যমান থাকবে"
সবার কন্ট্রিবিউশন দৃশ্যমান থাকার লক্ষ্যেঃ
- হোমপেজের একদম উপরেই প্রতি সপ্তাহে/মাসে টপ ৫ জন কন্ট্রিবিউটরের নাম তাদের গিটহাব প্রোফাইলসহ দেখানো
- সবার সুবিধা এবং উপকারের জন্য যে চিটশিটে যাদের অবদান(কন্ট্রিবিউশন) থাকবে, তাদের নামগুলো তাদের গিটহাব প্রোফাইলের লিঙ্কসহ উক্ত চিটশিটের পেজের একদম উপরে দেখানো...

[2018-11-24 19:29] zonayedpca opened #57 "প্রিন্ট শীটের স্টাইলিং এ সমস্যা"
এখানে সবগুলো চিটশিটের প্রিন্ট ভার্শনও আছে... তবে এখানে একটা সমস্যা দেখতে পাচ্ছি... কিছু কিছু কার্ড এক পেজ থেকে আরেক পেজে ভাগ হয়ে যাচ্ছে... মাঝেমধ্যে কোড আর বর্ণনাও ভাগ হয়ে যাচ্ছে... এগুলো ফিক্স করা জরুরী...
কার্ড ভাগ হয়ে যাওয়াঃ
![image](https://user-images.githubusercontent.com/18544717/48972284-2d6bfd00-f04d-11e8-9c99-29516f6f7187.png)

কোড আর বর্ণনা ভাগ হয়ে যাওয়াঃ
![image](https://user-images.gi

[2018-11-26 04:55] zonayedpca opened #63 "Test for GA is Failing..."
Google Analytics is failing during test...

[2018-11-26 08:38] shabab477 commented on #63
Please give a more descriptive issue post. The description should include the following points:
- Expected behavior
- Current behavior
- Steps to re-create the problem.

Thanks.

[2018-11-26 08:44] Hasnayeen commented on #56
You can use [Sourcerer.io](https://sourcerer.io/hasnayeen) to show contributors, I'm using it on my project.
You can check how it looks in my project [here](https://github.com/iluminar/goodwork#credits-top)

[2018-11-26 08:51] iamruhul commented on #53
that can't be done in the frontend... You have to have some kinda backend for that!

[2018-11-26 08:56] iamruhul commented on #50
what d u mean by " a particular cheat sheet block"??

[2018-11-26 08:57] iamruhul commented on #50
right now.. you can only get the page url.. but i'm guessing you want each portion/block to have a url
like `#section` to copy ???

[2018-11-26 09:37] rafiqul-rasel opened #64 "পিএইচপি"
পিএইচপি ফাংশন

[2018-11-26 09:40] shabab477 commented on #56
Does `Sourceror.io` have a free or publicly accessible API that I can just piggy back on passing my repo id and user id? Would be great if this information was available.

[2018-11-26 10:04] Hasnayeen commented on #56
You have to create an account to avail the widget, I used mine forked repo of this repository to build the widget which looks like this

[![](https://sourcerer.io/fame/Hasnayeen/Hasnayeen/devsonket.github.io/images/0)](https://sourcerer.io/fame/Hasnayeen/Hasnayeen/devsonket.github.io/links/0)[![](https://sourcerer.io/fame/Hasnayeen/Hasnayeen/devsonket.github.io/images/1)](https://sourcerer.io/fame

[2018-11-26 11:02] zonayedpca opened #67 "কোডে উদাহরণের জন্য আলাদা ব্যবস্থা করা"
কোনো কোনো কোডে উদাহরণের প্রয়োজন হতে পারে... সেক্ষেত্রে উদাহরণের ফিচার অ্যাড করলে সুবিধা হবে...

[2018-11-26 11:02] shabab477 commented on #56
This is good but is the widget customizable? For example I want to show top 10 instead of top 7 contributors? If so then it should be ok. If not then we need to have a discussion regarding using this vs github api or something else.

[2018-11-26 11:02] #25 closed

[2018-11-26 11:03] #67 closed

[2018-11-26 11:07] shabab477 commented on #64
Sure, thanks for the interest. We currently have a cheat sheet regarding PHP [here](https://devsonket.github.io/php-cheat-sheet) where we have functions for number or string operations. Is there anything new you want to contribute to?

[2018-11-26 11:21] shabab477 commented on #53
Not actually. What we have decided is something like json generator in which the contributor does not actually write JSON by himself/herself but by adding sections from the UI. Adding sections will result in real time JSON generation which can be downloaded client side.

In the end the contributor has to contribute by a JSON file, but doesn't have to write the JSON manually.  It will be generated

[2018-11-26 11:23] shabab477 commented on #50
Yes the description of the issue is pretty much self-explanatory. It should have something like a shareable anchor link to a particular cheat sheet block.

[2018-11-26 11:33] zonayedpca commented on #63
- Expected behavior ```npm run test``` should pass all the test
- Current behavior: GA is removed to make sure travis ci can perform its task properly... But we want GA to be added as soon as it's fixed
- Step to Re-create the problem:
Run the test enabling GA on the project
[code]
Will produce this error:
![image](https://user-images.githubusercontent.com/18544717/49011518-b2196100-f19c-11e8-88f3

[2018-11-26 16:22] iamruhul commented on #30
working on it (:

[2018-11-27 01:15] zonayedpca opened #68 "Should Move to Static Site Generator"
Currently, this application has **some problems**:
- If any browser doesn't have devsoket's service worker installed or in real if anyone visits any cheatsheet(e.g: devsonket.github.io/cheatsheet-url) for the first time then he/she gets redirected to the 404.html page and it serves the contents. The problem is this page sends 404 status code, which is not a standard solution. You can check it your

[2018-11-27 03:18] Marco1969theKnight opened #69 "Django doesn't run manage.py: ModuleNotFoundError: No module named 'ProjectName' (clonded Django project))"
Hello, my partners and I are working on a Django project using git, a partner begin the project and committed it on github, then the rest of us copy the project on their respective computers, but when we run the "python manage.py runserver" command (or any other command using manage.py) the ones who copied the project get the next error:

`Traceback (most recent call last):
  File "manage.py", lin

[2018-11-27 03:19] Marco1969theKnight commented on #69
If you need more details I will give them to you,

[2018-11-27 06:47] shabab477 commented on #63
![Pass screenshot](https://i.ibb.co/H4Q8VfK/app-pass.png)

[2018-11-27 06:56] shabab477 commented on #69
I am sorry this is not the project that is related to the question given. This repo is about building small cheat sheets for devs to use not a problem solving site. Maybe try [Stack Overflow](http://stackoverflow.com). Thanks

[2018-11-27 06:56] #69 closed

[2018-11-27 07:29] #63 closed

[2018-11-27 07:53] zonayedpca commented on #50
Are we looking for this thing?
![image](https://user-images.githubusercontent.com/18544717/49066387-f103f100-f246-11e8-8e13-9b5b4b8363e0.png)
Also, tell me which link will be better,
- In this case, I am using the title as the link(like ```/shortcut-chrome-win#উইন্ডো-এবং-ট্যাব-ম্যানেজ```)
Remember this link will show up much longer than it is like this one:
[code]
- Or should I go for a more simpl

[2018-11-27 09:40] shabab477 commented on #50
`/shortcut-chrome-win#3` is a much friendlier url.

[2018-11-27 10:13] zonayedpca commented on #56
এখান থেকে একটা কাজ করা হয়ে গেছে, Pull Request #72

[2018-11-28 11:03] dibakarsutradhar opened #77 "Failed to load resource: the server responded with a status of 403 (Forbidden)"
**Main Error** - **Failed to load resource: the server responded with a status of 403 (Forbidden)**

Error Message -
{
message: "API rate limit exceeded for 103.112.205.2. (But here's the good news: Authenticated requests get a higher rate limit. Check out the documentation for more details.)",
documentation_url: "https://developer.github.com/v3/#rate-limiting"
}

Error Link - https://api.github.c

[2018-11-28 13:14] #51 closed

[2018-11-28 14:43] zonayedpca commented on #77
I will add some error handling technique so that the contribution data doesn't show up when GitHub API limit exceeds its limitation

[2018-11-28 14:53] dibakarsutradhar commented on #77
Okay.

[2018-11-28 15:53] zonayedpca commented on #77
We should observe the behavior of our Application as I am not able to recreate the same scenario. If you find the error again, please let us know. From now on, if GitHub API limit exceeds, the contributor section will not show up and the whole application will run normally...

[2018-11-28 15:55] shabab477 commented on #77
I think one way to recreate this issue is to refresh the page multiple times.

[2018-11-28 15:59] shabab477 commented on #77
I think the best solution should be to cache the last successful GitHub API call response and in the event of rate limit exceeded use the cached value.

[2018-11-28 16:35] zonayedpca commented on #77
PR #81 handles the error, User will not experience any problem while visiting the website. I will cache the data in the next PR that will be a new feature for this application.

[2018-11-28 17:23] dibakarsutradhar commented on #77
@zonayedpca I'm having the same problem again.

[2018-11-28 18:01] zonayedpca commented on #77
Changes will take some time... You can use private/incognito mode to let us know if you still have the problem...

[2018-11-28 18:15] dibakarsutradhar commented on #77
Having this problem on my windows machine and iPhone. Working fine on Linux machine though. Checked just now, it's working again. But the contribution section isn't there anymore though.

![image](https://user-images.githubusercontent.com/12207794/49172649-d37c7780-f36b-11e8-887a-8eb1e3327f22.png)

[2018-11-29 01:15] zonayedpca opened #83 "সিএসএস স্টাইলে সমস্যা"
কিছু কিছু জায়গায়, যেখানে এরকম দুইলাইনের কোড আছে, একটা লাইন আরেকটা লাইনের উপরে চলে যাচ্ছেঃ
![image](https://user-images.githubusercontent.com/18544717/49192693-2a9d3f00-f3a2-11e8-8327-7640e9e552eb.png)

[2018-11-29 02:42] zonayedpca opened #84 "Favorite List"
I want to add a new functionality that will let a user add any cheatsheet as their favorite cheatsheet. And they will be shown in the TOP section in which we have some static top cheatsheet right now(also used to display search result). If the user's favorite list is empty, then the TOP section will display our selected list. Otherwise, It will show the user's favorite list... Is it necessary? Wha

[2018-11-29 05:50] dibakarsutradhar commented on #84
It’ll be a good addition to the project

[2018-11-29 11:51] iamruhul commented on #53
brilliant!!!! Who's up for it??

[2018-11-29 11:56] iamruhul commented on #30
This issue is related to issue #68 ... That will solve this issue inshallah.

[2018-11-29 11:56] #30 closed

[2018-11-29 15:12] shabab477 commented on #53
Right now I am working on this. Maybe within two weeks it will be done

[2018-11-30 05:45] #77 closed

[2018-11-30 05:58] #83 closed

[2018-12-01 08:46] #56 closed

[2018-12-01 08:48] #47 closed

[2018-12-03 02:54] iamruhul commented on #84
First of all... what's the reason of those color cards at the top??

[2018-12-03 03:07] iamruhul opened #102 "specify the type of contributor"
Look at this picture below

![devsonket com_shortcut-chrome-win](https://user-images.githubusercontent.com/31810947/49350767-77eb1a80-f6da-11e8-900a-175fcb2eb63b.png)

At the top.. it says contributor... looking at the picture it's not certain what kind of contribution they did. It would be better if it says something like - **Cheatsheet contributor**

[2018-12-03 03:11] iamruhul commented on #102
Now no matter how much i contribute to the codebase, my picture won't show up there. There should be two type of contributor - one contributing on cheetsheet and the other one  on codebase.

[2018-12-03 03:14] iamruhul commented on #102
@zonayedpca  you could wright something like ... "**written by**" to be more specific instead of "**contributor**"

[2018-12-03 04:04] Revel109 commented on #34
Yes, I have started the flow. I was sick, that's why it became a bit slow to start. I will contact with @zonayedpca if i have any issue.

[2018-12-03 04:18] zonayedpca commented on #102
I think the position of this section specifies what type of contributors they are...

[2018-12-03 06:15] iamruhul commented on #102
maybe... btw I am thinking about a **credit page**..

[2018-12-03 06:17] iamruhul commented on #102
That could come in handy for us contributors.. what's ur thought??

[2018-12-03 10:21] #102 closed

[2018-12-03 11:02] AnikHasibul opened #103 "style: Extra padding on mobile device."
![screenshot_2018-12-03-16-59-47](https://user-images.githubusercontent.com/25927971/49370011-d3bd9f80-f6ea-11e8-99fa-b9bdb19aabe3.png)
Body overflow content should be hidden.

[2018-12-04 16:56] zonayedpca commented on #68
Reverts #109

Some bugs found such as

Not able to print the cheat sheet
Not able to fire any event on the page
Not able to grab all the contributor list from GitHub

[2018-12-05 11:33] #103 closed

[2018-12-05 17:11] AnikHasibul commented on #53
I don't think so!

This can be implemented in native frontend ui with Javascript. I'm on it.

[2018-12-07 10:07] #68 closed

[2019-01-03 09:36] NaSabbir commented on #57
আমিও সমস্যা দেখতে পাচ্ছি, সমস্যার সমাধান দেখার প্রত্যাশায় রইলাম।

[2019-02-21 21:31] rafiqul-rasel commented on #64
kivabe oi file korbo bolun??

[2019-03-19 08:09] AnikHasibul opened #144 "Request: Cheatsheet for markdown."
^_^

[2019-03-19 08:20] shabab477 commented on #144
Hi, thanks for the request for a new cheatsheet. Are you interested in writing it?

[2019-03-19 08:42] AnikHasibul commented on #144
Is there any friendly data entry system or simple json generator for this?

[2019-03-19 08:44] shabab477 commented on #144
Not as of now. We have that as a feature request at #53 but unfortunately I am not able to find enough time to build one? Do you want to have a go at it?

[2019-04-01 18:05] zonayedpca opened #146 "Planning to move to Gatsby"
I have been working with Gatsby for a while. And now I have realized, this project is most suitable to develop with Gatsby. I am planning to move the whole project to Gatsby. What do you think?

[2019-04-02 03:10] dibakarsutradhar commented on #146
I'm in for gatsby. It's much faster.

[2019-04-20 07:52] jamal-pb95 commented on #146
I appreciate going with GatsbyJS.

[2019-04-20 07:55] jamal-pb95 opened #149 "Can I add `Vagrant` commands cheat sheet?"

[2019-04-20 11:14] zonayedpca commented on #149
Of course brother...

[2019-04-20 11:44] jamal-pb95 commented on #149
Thanks, @zonayedpca bhai, I'll raise a PR soon... Inshallah

[2019-04-23 10:41] jamal-pb95 commented on #149
@zonayedpca bhai, [#150 PR](https://github.com/devsonket/devsonket.github.io/pull/150) has been raised by me. Please take a look and take the necessary step. thanks

[2019-04-24 02:20] #149 closed

[2019-05-24 05:43] jabertuhin opened #153 "want to add Pandas Dataframe. [python library for data science]"
Wanted to add few functions of "pandas" dataframe. Should I add those in python section?

[2019-05-24 18:53] shabab477 commented on #153
Yeah sure go ahead.

[2019-05-25 15:30] jamal-pb95 opened #154 "I love to add GatsbyJS Cheat sheet"

[2019-05-26 07:14] zonayedpca commented on #154
Cheatsheet is merged 💯

[2019-05-26 07:14] #154 closed

[2019-06-01 13:28] #146 closed

[2019-06-09 08:29] zonayedpca commented on #64
Closing this issue for not being active over a month

[2019-06-09 08:29] #64 closed

[2019-06-09 08:30] zonayedpca commented on #84
Closing this issue for not being active over a month

[2019-06-09 08:30] #84 closed

[2019-06-09 08:31] zonayedpca commented on #34
Any update brother?

[2019-06-09 08:31] zonayedpca commented on #153
Any update brother?

[2019-06-09 08:42] jabertuhin commented on #153
I have started working on it. Added the necessary code components. Struggling to express few of them in Bangla :3
Never thought of this situation.

[2019-06-09 10:21] Revel109 commented on #34
Completed almost 50%. Rest part will be done by this week hope so. Couldn't manage enough time for this.
Is there anyone who is interested to complete this with me?

[2019-06-09 11:14] zonayedpca commented on #144
Added to our list

[2019-06-09 11:14] #144 closed

[2019-06-09 15:16] zonayedpca commented on #153
Please use popular words even if they are in English so that everyone can understand... Also, note that, try to write those English words using Bengali characters. That will help you. Thanks 👍

[2019-06-13 11:35] #50 closed

[2019-06-13 12:08] #15 closed

[2019-06-15 12:51] #57 closed

[2019-07-08 09:47] shabab477 commented on #153
Resolved #186

[2019-07-08 09:47] #153 closed

[2019-07-13 11:04] jabertuhin opened #187 "add HOWTOCONTRIBUTE.md"
Can we have an instruction for how to contribute?
Like - fork 1st then clone,  create branch of certain name etc.
This can help people to contribute in a specific way and who are new to collaboration. We can add an existing article or can add one in Bangla.

[2019-07-15 11:19] dibakarsutradhar commented on #187
Hey! We already have it in Bangla. It's written on the main repository documentation. Please follow this link for clear instruction on How to contribute in Bangla - https://github.com/devsonket/devsonket.github.io

Hope this helps. Thanks.

[2019-07-15 12:45] jabertuhin commented on #187
I was talking about something like this - https://www.freecodecamp.org/news/a-simple-git-guide-and-cheat-sheet-for-open-source-contributors/

[2019-07-19 07:03] imalisiddique opened #188 "Multiple OS keyboard shortcuts feature"
Multiple OS keyboard shortcuts like macOS, Windows, and Linux
![AwesomeScreenshot-Default-keyboard-shortcuts-for-Illustrator-2019-07-19-13-07-27](https://user-images.githubusercontent.com/4035727/61515900-86960000-aa25-11e9-8f39-a9744086790e.png)

[2019-08-21 10:15] zonayedpca commented on #188
I like your idea. I think we should add another format of cheatsheet suitable for Shortcuts type of cheatsheets.

[2019-08-21 10:19] zonayedpca commented on #187
If you're willing to write any posts regarding this thing, we will add a reference to it so that interested people can learn something and also start contributing here. We'll really appreciate it if you do this for Devsonket.

[2019-09-02 08:55] zonayedpca commented on #188
This issue seems to be inactive for a long time. We're closing this one. Feel free to reopen this issue if you want... Thanks for being with us.

[2019-09-02 08:55] #188 closed

[2019-09-02 08:55] zonayedpca commented on #187
This issue seems to be inactive for a long time. We're closing this one. Feel free to reopen this issue if you want... Thanks for being with us.

[2019-09-02 08:55] #187 closed

[2019-09-02 08:56] zonayedpca commented on #34
This issue seems to be inactive for a long time. We're closing this one. Feel free to reopen this issue if you want... Thanks for being with us.

[2019-09-02 08:56] #34 closed

[2019-09-02 08:57] zonayedpca commented on #53
This issue seems to be inactive for a long time. We're closing this one. Feel free to reopen this issue if you want... Thanks for being with us.

[2019-09-02 08:57] #53 closed

[2019-09-10 01:11] devmmhs opened #202 "কিসের চিটশীট চান?"
SCSS or SASS সম্পর্কিত ।
ইউ আই ইউএক্স সম্পর্কিত ।

[2019-09-10 09:54] zonayedpca commented on #202
আমাদের কন্ট্রিবিউটররা চেষ্টা করবে এই সম্পর্কিত চিটশিট অ্যাড করার জন্যে... আমাদের লিস্টে হাই প্রায়োরিটি হিসেবে থাকবে...

[2019-09-10 11:25] imalisiddique commented on #202
ইউ আই/ইউএক্স চিটশীট বলতে?

[2019-09-10 16:26] zonayedpca commented on #202
অবশ্যই ভাই, আপনি করতে পারেন... আপনি করতে চাইলে আমি এখানে আপনাকে টাস্ক অ্যাসাইন করে দিচ্ছি... কনফার্মেশন দিলে অ্যাসাইন করে দিব 👍

[2019-09-10 17:45] imalisiddique commented on #202
ok

[2019-09-11 02:32] zonayedpca commented on #202
যখন এই টপিকের উপর পুল রিকোয়েস্ট দিবেন, অবশ্যই এই ইস্যুটাকে রেফার করে দিবেন... ধন্যবাদ আপনাদের প্রচেষ্টার জন্য 💯

[2019-09-11 12:44] Revel109 opened #205 "PM2 cheatsheet in bangla"
Here i have created a cheatsheet on pm2.

The PR: https://github.com/devsonket/devsonket.github.io/pull/204

It will be great if you merge this and deploy as well.

Thanks.

[2019-09-11 15:18] Revel109 commented on #202
@zonayedpca here is the pr for pm2 cheatsheet: https://github.com/devsonket/devsonket.github.io/pull/204

[2019-09-11 16:20] #205 closed

[2019-09-17 05:44] Revel109 opened #209 "পোস্টগ্রেস / পোস্টজিআরই এসকিউএল চিটশিট"
I am currently working on this cheatsheet. I will create a PR soon.

[2019-09-19 06:17] zonayedpca commented on #209
Please, refer this issue on your Pull Request

[2019-10-02 17:37] Revel109 commented on #209
This is live now. You can close this.

[2019-10-03 04:19] #209 closed

[2019-10-03 04:26] zonayedpca commented on #202
Cheat sheets are up already... I am closing this issue right now... If you want more, try to be more specific...

[2019-10-03 04:26] #202 closed

[2019-11-26 04:13] jamal-pb95 opened #243 "জাভাস্ক্রিপ্ট মডিউল নিয়ে একটা চিটশিট অ্যাড করতে চাচ্ছি।"
@zonayedpca ভাই, জাভাস্ক্রিপ্ট মডিউল নিয়ে একটা চিটশিট অ্যাড করতে চাচ্ছি।

[2019-11-26 04:21] zonayedpca commented on #243
অবশ্যই ভাই...

[2019-11-27 04:19] jamal-pb95 commented on #243
thanks for your positive response. here is my PR #244

[2019-11-27 04:19] #243 closed

[2019-12-15 05:05] jabertuhin opened #248 "Cheat Sheet on C#"
I will be working on creating cheat sheet for c#.

[2019-12-15 16:30] maacpiash commented on #248
Please start, bhai. I would love to help 😀

[2019-12-15 16:34] zonayedpca commented on #248
Of course, we are eagerly waiting for your contribution

[2019-12-24 10:44] zonayedpca commented on #248
ভাই আপনার পুল রিকোয়েস্ট #251 এ কিছু পরিবর্তনের জন্য রিকোয়েস্ট করা হয়েছে... প্লীজ পরিবর্তন করে আবার পুশ করেন আরেকটা...

[2019-12-25 13:59] #248 closed

[2020-01-07 16:19] sk-roy opened #252 "Computational geometry"
For competitive programming i need all formula of computational geometry. Please do something.

[2020-03-03 12:03] istiak101 opened #254 "Slack invite link expired"
Current slack invite link is expired. Please update readme file.

[2020-03-04 16:08] zonayedpca commented on #254
We are planning to move our community discussion here in Facebook group( https://www.facebook.com/groups/675646289594096 ) We somehow forgot to update the content here.

[2020-03-17 14:55] jamal-pb95 opened #256 "Going to add some CLI commands for MySQL"

[2020-03-17 18:04] jamal-pb95 commented on #256
PR has been raised #257
Please check and proceed @zonayedpca vai

[2020-03-17 18:45] zonayedpca commented on #256
Thanks Bhai... We are coming back with a huge update soon... Please share with everyone...

[2020-03-17 18:45] #256 closed

[2020-03-21 12:07] jaamaal95 opened #258 "I would like to add parceljs cheat sheet"

[2020-03-22 05:47] zonayedpca commented on #258
Sure bhai... 👍

[2020-03-30 12:29] hasinhayder opened #276 "MySQL CheatSheet: Link commands with reference docs"
I have a suggestion

Link all of those functions to the MySQL reference, so that people can know details if they want

For example, clicking on "ROUND" will take the user to https://dev.mysql.com/doc/refman/8.0/en/mathematical-functions.html#function_round

[2020-03-30 15:41] zonayedpca commented on #276
We will love to do that brother... Thanks for your suggestion... If you have any more suggestions, please let us know...

[2020-03-30 15:41] #254 closed

[2020-04-09 19:49] morshadunnur opened #281 "Docker container cheatsheet minor modify"
List of all ডকার কন্টেইনার, even not running
* docker ls -a is not a command
I think docker container commands need to be specified like -
=> docker container ls -a
=> docker container list -a
=> docker container ps -a

Because,  docker ps  and docker ps -a to check container process
Thanks

[2020-04-14 09:10] zonayedpca commented on #281
We are requesting you to send a PR with the correction. Also, refer to this issue if you are doing that...

[2020-04-22 13:46] morshadunnur commented on #281
I made a PR. I was sick.
Thank you so much.

[2020-04-23 02:39] zonayedpca commented on #281
Thank you brother...

[2020-04-23 02:42] #281 closed

[2020-04-23 12:27] istiak101 opened #286 "Embed youtube explainer video"
Hi, what about embedding best youtube explainer video on topics?

[2020-05-13 12:56] #286 closed

[2020-06-04 11:58] zubayerhimel opened #292 "New cheat sheet for Materializecss framework"
Is it okay if I add a cheat sheet for Materializecss framework (https://materializecss.com)? There is a cheat sheet for Bootstrap 4, so I thought we can have a cheat sheet for Materializecss

[2020-06-10 08:28] jinnatul opened #296 "Cpp STL"
Hi guys :)
I am interested in add one new cheat sheet for c++ Standard Template Library (STL)
^_^

[2020-06-12 05:52] zubayerhimel opened #298 "JavaScript ES6"
I am interested in adding a new cheat sheet for JavaScript ES6

[2020-06-14 12:30] zonayedpca commented on #298
Sure you can...

[2020-06-16 07:48] zonayedpca commented on #292
Ohh sorry brother for the late reply... You can add one no problem... This is what Devsonket is for... 👍

[2020-06-16 07:50] zonayedpca commented on #296
Please close this issue if it's done... Thanks for your awesome contribution. We hope for more...

[2020-06-16 14:46] #296 closed

[2020-06-16 14:48] jinnatul commented on #296
Thanks for creating awesome repo :)

[2020-06-16 15:22] #298 closed

[2020-06-17 05:09] abirAbuAsim opened #305 "Interested to add cheatsheet for Flutter SDK"
I've seen that flutter sdk related cheatsheet is not present in devsonket. Can I contribute with this?

[2020-06-17 09:05] zonayedpca commented on #305
Of course, you can... You can start working on this cheat sheet. Once you are done, please close this issue...

[2020-06-17 09:24] abirAbuAsim commented on #305
Thanks vaia. will update soon.

[2020-06-17 17:16] #292 closed

[2020-06-18 20:16] jinnatul opened #307 "Interested to add new cheat-sheet for mongoose"
Hi, vai  -_-

Again, I Interested to add another new cheat-sheet for mongoose, elegant MongoDB object modeling for node.js

Morol

[2020-06-19 16:13] zonayedpca commented on #307
Sure bhai... You can start working on that cheat-sheet. Please close this issue once it's done... Thanks for your valuable contribution...

[2020-06-20 01:04] Geektrovert opened #310 "I would love to add a cheat sheet for Axios"

[2020-06-20 15:54] zonayedpca commented on #310
Sure, you can... Please...

[2020-06-22 07:55] #307 closed

[2020-06-25 07:00] atulpaul4 opened #317 "Javascript"
কি কি চান বিস্তারিত লিখুন

[2020-06-25 11:28] zonayedpca commented on #317
এটা সম্ভবত ভুলে ক্রিয়েট করেছেন... আমি ক্লোজ করে দিলাম কোনো তথ্য না থাকায়

[2020-06-25 11:28] #317 closed

[2020-09-25 15:57] shabab477 opened #343 "Any plans for Hacktoberfest?"
October is the month when devs all over the world celebrate the spirit of Open Source projects with [Hacktoberfest](https://hacktoberfest.digitalocean.com/). Are there any plans to add small proposals for this event?

Probable proposals for implementing Hacktoberfest:
- Propose unique cheat sheets
- Issue Small UI/UX features
- Propose guides or tutorials in Bengali for using GIT
- Add label named

[2020-10-03 14:35] zonayedpca commented on #343
Sorry for the late reply. Yes, we surely can start. It would be great if you could take the responsibility to implement this event.

[2020-10-05 08:27] shaonkabir8 commented on #310
@Geektrovert, Have you started yet ?
I'm curious to add `axios` cheat-sheet. let's do it together.

[2020-10-06 13:34] #343 closed

[2020-10-07 03:37] shaonkabir8 opened #353 "ইমোজি চিটশিট যোগ করতে চাই"
মার্কডাউন লেখার সময় বা নিত্যদিনের বহুকাজেই আমরা ইমোজি ব্যবহার করি।
ডেভসংকেত এ ইমোজি নিয়ে কোন চিটশিট নেই 😭

আমি 'ইমোজি' চিটশিট যোগ করতে আগ্রহী।

[2020-10-10 21:20] zonayedpca commented on #353
অবশ্যই শুরু করুন... যদি ইমোজি সাপোর্ট না থেকে থাকে, তাহলে আমরা শীগ্রই অ্যাড করে নিবো... আপনি কাজ শুরু করে দিন... ধন্যবাদ

[2020-10-11 08:04] shaonkabir8 commented on #353
জ্বী ভাই। আমি শুরু করেছি।

কোড ফরম্যাট এইভাবে লিখছিঃ

[code]

[2020-10-11 09:15] zonayedpca commented on #353
Yes perfect!

[2020-10-13 17:18] #353 closed

[2020-10-13 17:21] shaonkabir8 commented on #353
### :rocket: আপডেটঃ
:heavy_check_mark: ইমোজি চিটশিট যোগ করা হয়েছে।

[2020-10-14 10:10] Geektrovert commented on #310
@shaonkabir8, sorry for the late response. Thank you for your interest to contribute, it'd be really great! I compiled some cheats randomly, but I haven't written any code yet. I will make a PR soon. And sure, let's work together!

[2020-10-14 10:24] shaonkabir8 commented on #310
@Geektrovert , It'd be amazing mate.❤
Take time and make a `pull request ` with your initial cheat sheet. I'll be there to contribute  if needed 😘

[2020-10-30 06:00] jabertuhin commented on #310
@Geektrovert Hi.
I have a feedback regarding your issue title. Can you fix the typo "cheetshit" to "cheat sheet"?

[2020-10-30 06:13] jabertuhin opened #405 "Create Issue Templates"
I think we can have multiple issue templates, such as feature request, new cheat sheet, and so on.
This will be helpful for new contributors to create issues, and also there will be consistency among the issues.

Example: [PytorchLightning Issue Templates](https://github.com/PyTorchLightning/pytorch-lightning/tree/master/.github/ISSUE_TEMPLATE)

[2020-11-06 17:47] shaonkabir8 opened #406 "📝 সিএসএস এর চিটশিট সম্পর্কিত আলোচনা"
**সিএসএস গ্রিড** বা **ফ্লেক্সবক্সের** উপর চিটশিট আছে কিন্তু **পিউর সিএসএস** এর উপর কোন চিটশিট নেই ! :crying_cat_face:

সিএসএস নিয়ে চিটশিট তৈরী করতে গেলে অনেক অনেক প্রোপার্টি + ভ্যালু নিয়ে কিভাবে আলোচনা করা যেতে পারে ? কারন সিএসএস এর ক্ষেত্রে একটা নির্দিষ্ট প্রোপার্টির জন্য অনেক গুলো ভ্যালু থাকতে পারে যেগুলো সব ভিন্ন ভিন্ন উদ্দেশ্যে ব্যবহৃত হয়। সেক্ষেত্রে কিভাবে চিটশিট লিখলে সুবিধা হবে :question:

[2020-11-12 11:11] Golamrabbani-ux opened #407 "how to works javascript"
কি কি চান বিস্তারিত লিখুন

[2020-11-13 05:47] #407 closed

[2020-12-08 04:58] samir7768 opened #409 "Samir"
Fa

কি কি চান বিস্তারিত লিখুন

[2020-12-13 23:25] #409 closed

[2020-12-13 23:36] zonayedpca commented on #405
Good idea, we're thinking of them... Thanks for the idea

[2021-01-05 09:00] n0man-ch0wdhury opened #423 "সি প্রোগ্রামিং এ গাণিতিক বিল্ট ইন ফাংশন কারেকশন"
"y এর পাওয়ার হিসেবে x কে নেয়ার জন্য" এর জন্য pow(x, y) এর স্থলে pow(y, x) হবে সম্ভবত। যেহেতু pow(base, power) হয়।

[2021-01-12 19:53] zonayedpca opened #430 "ডেভসংকেত এর জন্য প্রোজেক্ট মেইন্টেইনার দরকার"
বর্তমান রিপো অ্যাডমিন, রাইটার, মেইন্টেইনাররা বেশী ব্যস্ত থাকায় ঠিকমতো পুল রিকোয়েস্ট চেক করা থেকে শুরু করে যাবতীয় ব্যাপারগুলো দেখাশোনা করতে বেশ সমস্যা, দেরী হচ্ছে। তাই আমরা ৩ জন মেইন্টেইনার নেওয়ার পরিকল্পনা করেছি। যারা যারা আগ্রহী তাঁরা নিজে কমেন্ট করতে পারেন বিস্তারিত কিছু ইনফরমেশন দিয়েঃ
- ওপেন সোর্স কোনো প্রোজেক্টে কন্ট্রিবিউট করেছেন কিনা? একাধিক কন্ট্রিবিউশন করে থাকলে আপনার কাছে কোন কন্ট্রিবিউশন

[2021-01-12 19:55] sabbirshawon commented on #430
@zonayedpca bhai আমি আগ্রহী আছি,

[2021-01-13 10:34] zonayedpca commented on #430
ভাই ডিটেইলস লিখে কমেন্ট করুন, তাহলে সবার জন্য ভালো হবে...

[2021-01-13 11:01] sabbirshawon commented on #430
- ওপেন সোর্স প্রজেক্টে কন্ট্রিবিউট করেছি তার মধ্যে ডেভসংকেত, কয়েকটি রিয়েক্ট+নোড জেএস এর প্রজেক্ট রয়েছে কিন্তু সবার সাথে ডেভসঙ্কেতের কন্ট্রিবিউশনটা ভালো লেগেছে বেশি
- বর্তমানে রিএক্ট নিয়ে কাজ করি পাশাপাশি সিলেটের একটি কোম্পানিতে(ডিজিটা ইন্টারেক্টিভ) জব করতেছই দীর্ঘ ২বছর থেকে

[2021-01-14 12:31] shaonkabir8 commented on #430
আমি শাওন কবির, Code Eating Ants টিমে ফ্রন্টেন্ড ডেভলপার হিসাবে আছি এক বছরের বেশি সময় ধরে  :heart:

আমার ওপেন সোর্স কন্ট্রিবিউশনের একটা বড় অংশ জুড়ে আছে ডেভসংকেত পরিবার।

ডেভসংকেতে আমার উল্লেখযোগ্য কন্ট্রিবিউশনঃ
- ইয়ার্ন চিটশিট
- ইমোজি চিটশিট
- প্রভাত কিবোর্ড চিটশিট

ডেভসংকেত এর মেইন্টেইনার হওয়ার জন্য আমি আগ্রহী  :rocket:

[2021-01-21 12:13] FahimFBA opened #440 "Developer slack URL doesn't work"
The link mentioned as the Developer slack is no longer active.

[2021-01-23 16:22] SoyketHM opened #441 "I would love to add a cheat sheet for terminal text editors Linux (Vim, Nano)"

[2021-01-23 17:25] #441 closed

[2021-01-28 09:24] fahimfaisaal commented on #440
জি ভাই, স্লাক গ্রুপে আড হইতে পারলে অনেক ভাল হইত। 🙂

[2021-01-29 15:35] uchihaNayeem opened #451 "কিসের চিটশীট চান?"

[2021-01-29 16:57] mirajus-salehin commented on #305
:wave:  @abirAbuAsim I am working on a flutter sdk related cheatsheet.

[2021-01-31 07:47] zonayedpca commented on #440
We have planned to continue our community discussion on our [Facebook Group](https://www.facebook.com/groups/devsonket). Will remove that slack link soon...

[2021-01-31 09:19] #451 closed

[2021-02-15 14:58] shabab477 opened #460 "Enhancing docker cheatsheet for nested one-line commands"
- Add command for showing all id-s of running containers
- Add one line command for stopping running containers
-  Add one line command for removing images
-  Add one line command for removing all running and stopped containers

[2021-02-16 09:45] #460 closed

[2021-04-02 08:24] iamraufu commented on #430
আসসালামু আলাইকুম ভাই,

গতকাল রাতে  লিঙ্কড ইন এ আপনার সাথে এ ব্যাপারে কথা হয়েছিল ভাই । আমি ইফতিখার রহমান, বর্তমানে ব্রাক বিশ্ববিদ্যালয়ের সিএসসি ডিপার্টমেন্ট এ শেষ বর্ষের পড়াশুনা সম্পন্ন করছি ।

পড়াশুনার পাশাপাশি রিয়েক্ট জেএস + নোড জে এস এর বিভিন্ন প্রোজেক্ট এ কাজ করার অভিজ্ঞতা রয়েছে । এছাড়াও জাভা, পাইথন, মাইসিকুইল সহ আরো অনেক প্রোগ্রামিং ভাষার দক্ষতা রয়েছে ।  ওপেন সোর্স প্রজেক্টে কন্ট্রিবিউট এর মধ্

[2021-04-02 08:53] iamraufu opened #472 "It should be "Singly-Linked List" - Spelling mistake"
https://github.com/devsonket/devsonket.github.io/blob/f823c08785e0c4af8436fbfffb32585ab7919b18/data/algorithm-complexity.json#L105

[2021-04-03 04:41] #472 closed

[2021-04-03 21:06] iamraufu opened #474 "📝 HTTP Status Code এর উপর Cheat Sheet বানাতে চাচ্ছিলাম"

[2021-04-03 21:07] iamraufu opened #475 "📝 HTTP Status Code এর উপর Cheat Sheet বানাতে চাচ্ছিলাম"

[2021-04-03 21:07] #474 closed

[2021-04-08 10:18] zonayedpca commented on #475
আমার মনে হয় আমাদের এই টপিকের উপর আমাদের কোনো চিটশিট নেই, এবং এটা খুবই জরুরী... যদি সম্ভব হয় তাহলে প্লীজ শুরু করুন...

[2021-04-09 19:07] khanfaysal opened #478 "javascript"
modern javascript syntax and use case shortly.

[2021-04-10 10:27] sabbirshawon commented on #478
Do you want to contribute to Modern JS Syntax? @khanfaysal

[2021-04-10 13:03] khanfaysal commented on #478
No but you add my proposal Because it is to be useful for others junior js programmer.

[2021-04-12 06:19] sabbirshawon commented on #478
so make it and send PR

[2021-04-26 22:25] iamraufu commented on #475
### প্রিয় জুনায়েদ ভাই,

**ধৈর্য ধারণের জন্য অসংখ্য ধন্যবাদ । কিছু ব্যাক্তিগত কারণে বিলম্ব হয়েছে । তদুপরি, চিটশিট এড করে পুল রিকুয়েস্ট দিয়েছি ।**

[2021-04-26 22:27] iamraufu commented on #478
Dear @khanfaysal what's the update?

[2021-04-26 22:28] iamraufu opened #480 "ল্যাটেক (LaTex) চিটশিট এড করতে চাচ্ছিলাম"
### ল্যাটেক একটি বিবরণী তৈরির জন্য ব্যবহৃত মার্কআপ ভাষা ও সফটওয়ার ব্যবস্থা

[2021-05-30 21:21] kailash360 commented on #423
আমি এই ইস্যুতে কাজ করতে চাই |

[2021-05-31 13:41] kailash360 opened #491 "Python 3 চিট শীটে Loops এবং Conditionals(If-Else) অনুপস্থিত |"
Python 3 চিট শীটে for-loop, while-loop, if-else-conditionals অনুপস্থিত। আমি তাদের কোডে যুক্ত করতে চাই।

[2021-08-02 03:31] zonayedpca commented on #491
অবশ্যই... আমি আপনাকে অ্যাসাইন করে দিলাম... দয়া করে পুল রিকোয়েস্ট দেওয়ার সময় এই ইস্যুটা মেনশন করে দিবেন... ধন্যবাদ...

[2021-08-02 03:34] #440 closed

[2021-08-02 21:56] kailash360 commented on #423
আমি এই ইস্যুতে কাজ করতে চাই |

[2021-08-03 17:10] kailash360 commented on #491
Pull request has been made

[2021-08-04 02:30] #491 closed, assigned to kailash360

[2021-08-14 04:22] monir6163 opened #504 "javascript"
all javascript

[2021-08-26 19:35] jamintowebdev opened #509 "কিসের চিটশীট চান?"
Please, Kindly upload JavaScript Cheetsheet. Thank you so much.

[2021-09-06 07:35] princerafid01 commented on #310
@Geektrovert Any progress ? :)

[2021-09-06 07:44] Geektrovert commented on #310
@princerafid01 nah bhai. I forgot about it. You can work on this if you want to!

[2021-09-06 07:56] zonayedpca commented on #310
Please someone go ahead... We badly need a cheatsheet on axios... Thanks... :)

[2021-09-06 08:03] sabbirshawon commented on #310
Start this first then anyone can contribute

[2021-09-07 16:13] hmtanbir opened #512 "I would like to add ruby on rails cheat sheet"

[2021-09-07 18:16] sabbirshawon commented on #512
start it @hmtanbir

[2021-09-09 13:24] Russell-mahmud opened #518 "api link"
কি কি চান বিস্তারিত লিখুন

[2021-09-14 03:33] notun-manush opened #523 "কিসের চিটশীট চান? -> Rust programming language"
basics,all new features of rust,simplifying rust book,web assembly with rust etc

[2021-09-14 21:23] sabbirshawon commented on #518
api link দিয়ে কি বুঝাচ্ছেন বিস্তারিত লিখে পোস্ট করুন @Russell-mahmud

[2021-09-14 21:24] #504 closed, assigned to nobody

[2021-09-15 07:46] Russell-mahmud commented on #518
bujhlam naaaaaaa

On Wed, Sep 15, 2021 at 3:23 AM Sabbir Ahmed ***@***.***>
wrote:

[2021-09-15 07:56] sabbirshawon commented on #518
এই issue টা কিসের জন্য তাই বললাম।

[2021-09-15 09:08] shaonkabir8 commented on #523
Hi  mate :wave:
Rust Programming Language cheat sheet has already added. I'm going to close this issue for now linking the valid pull request related to Rust. :heart:
Our Contributors will contribute later on :boom:
Stay connected with `Devsonket Family` :fire:

[2021-09-15 09:08] #523 closed, assigned to nobody

[2021-09-15 09:15] shaonkabir8 commented on #509
Hi  mate :wave:
Cheat sheet for `JavaScript` has already added.
Our Contributors will contribute later on :boom:
Stay connected with `Devsonket Family` :fire:

Best regards,
Shaon Kabir
project maintainer, Devsonket

[2021-09-15 09:15] #509 closed, assigned to nobody

[2021-09-15 09:27] shaonkabir8 commented on #478
Hi mate :wave:
Thanks for your interest and participation on contributing to `Devsonket` on `Modern JavaScript Syntax`.
I'm linking a valid PR which has already been merged.
Check #302 for this scenario. . Hopefully It'll help to close this issue :fire:

Stay connected with `Devsonket Family` :heart:

[2021-09-15 09:27] #478 closed

[2021-09-15 09:33] shaonkabir8 commented on #475
Hi mate :wave:
Thanks for your valuable contribution on HTTP Status Code.

Hopefully this [PR - #479](#479) has already solved this issue.

[2021-09-15 09:33] #475 closed

[2021-09-15 09:37] shaonkabir8 commented on #305
Hi mate :wave:
Thanks for your valuable contribution on HTTP Status Code.

Stay connected with `Devsonket Family`

[2021-09-15 09:37] #305 closed

[2021-09-15 09:44] shaonkabir8 commented on #518
HI [mate](@Russell-mahmud ) :wave:
Before creating any issues or sending PR, make sure to write a brief explanation on which your're contributing.
It's much more easier for maintainers & contributors to understand what's going on actually.

Thanks and Regards,
Shaon Kabir

[2021-09-15 09:44] #518 closed, assigned to nobody

[2021-09-15 13:19] shaonkabir8 commented on #480
Hi @iamraufu ,
Is there any updates?

[2021-09-16 05:39] mohammadrakib29 opened #524 "css animaton"
animaton

[2021-09-16 10:16] iamraufu commented on #480
I'll give an update soon.

[2021-09-17 16:19] ahmubashshir commented on #430
### উল্লেখযোগ্য কন্ট্রিবিউশন:
 * z411/trackma#498
 * phuhl/linux_notification_center#125
 * OpenBangla/OpenBangla-Keyboard#227
 * anbox/anbox#1755

### পড়াশোনা ও স্কিলসেট
 * এইচএসসি ২০২১ ব্যাচ(পরীক্ষার্থী)
 * স্কিল: C++, Vanilla JS, Python, GTK+ 3,Git CLI, Shell(Posix SH, Bash, Zsh)

### ডেভসংকেত নিয়ে চিন্তা:
 * অন্যান্য ডাটা সিরিয়ালাইজেশন ফরম্যাট(yaml, toml, ...) সাপোর্ট যোগ করা ও json এ কনভার্ট

[2021-09-17 17:53] #524 closed, assigned to nobody

[2021-09-19 09:29] Russell-mahmud commented on #518
eita diye ki ki kora jabe?

On Wed, Sep 15, 2021 at 1:56 PM Sabbir Ahmed ***@***.***>
wrote:

[2021-09-29 08:34] shaonkabir8 opened #530 "📃 Hacktoberfest 2021 নিয়ে আলোচনা"
অক্টোবর মাস জুড়েই চলবে `হ্যাক্টোবরফেস্ট উৎসব`  🔥
বিগত সময়ের মত এবারও আমরা `ডেভসংকেত পরিবার` এই উৎসবে অংশগ্রহণ করবো।

আমাদের সকলের কন্ট্রিবিউশনে আরো সমৃদ্ধশালী হোক বাংলা ভাষার সবচেয়ে বড় চিটশিট ভান্ডার। 🚀

[2021-09-30 21:22] kailash360 commented on #423
আমি এই জন্য একটি PR #532  তৈরি করেছি

[2021-10-03 16:33] zonayedpca commented on #530
ইয়েস ডেভসংকেত বরাবরের মতো এবারও থাকবে...

@shaonkabir8 আপনি রিডমি ফাইলে এটা অ্যানাউঞ্চ করে দিতে পারবেন কি একটু কষ্ট করে? কিভাবে অংশগ্রহণ করতে হবে সেটাও শর্ট করে একটু মেনশন করে দিবেন... ধন্যবাদ...

[2021-10-03 16:36] sabbirshawon commented on #530
একমত @zonayedpca ভাই

[2021-10-03 16:41] shaonkabir8 commented on #530
@zonayedpca ধন্যবাদ ভাই।

আমি রিডমি ফাইলে এনাউন্সমেন্ট (কন্ট্রিবিউশন প্রোসেস সহ) দিয়ে দিচ্ছি। 🔥

[2021-10-03 18:18] siraajul opened #537 "Selenium, Maven,Junit চিটশিট এড করতে চাচ্ছিলাম"

[2021-10-03 19:21] imovishek commented on #310
@princerafid01 have you started this yet? If not, I talked with @Geektrovert and am willing to start this as soon as possible.

[2021-10-03 19:26] imovishek commented on #252
@zonayedpca can I take this issue?

[2021-10-04 03:28] TasnimAnas opened #542 "Flutter.json এ ভুল ডেফিনেশন ও কোড"
Flutter JSON ফাইলে (https://github.com/devsonket/devsonket.github.io/blob/develop/data/flutter.json) লাইন ২০-২১ ও ২৪-২৫ এ ভুল ডেফিনেশন ও কোড দেওয়া হয়েছে।

[2021-10-04 06:40] zonayedpca commented on #252
@ovis96 Sure you can... Please don't forget to mention this issue while creating the PR... Thanks

[2021-10-04 11:23] princerafid01 commented on #310
@ovis96 I have not started yet.  You can start.

[2021-10-04 12:32] kailash360 commented on #423
If the issue is fixed, kindly close it

[2021-10-04 15:02] shaonkabir8 commented on #542
@TasnimAnas,
ভুলগুলো সংশোধন করে পুল রিকুয়েস্ট দেন। 🚀

[2021-10-04 15:04] shaonkabir8 commented on #537
@itsirajul,
জ্বী ভাইয়া। অবশ্যই।  ❤️
এইগুলোর চিটশিট এড করে পুল রিকুয়েস্ট দিন।
ধন্যবাদ।

[2021-10-04 23:51] #542 closed, assigned to TasnimAnas

[2021-10-05 05:34] asifadib opened #558 "Git emoji Cheatsheet যুক্ত করার পরেও এটা খুঁজে পাওয়া যাচ্ছে না ডেভসংকেত ওয়েব সাইটে"
স্ক্রিনশর্টগুলো দেখলে বুঝতে পারবেন

![image](https://user-images.githubusercontent.com/45002778/135966060-862e4883-9f39-452b-a241-d101272a2a87.png)

![image](https://user-images.githubusercontent.com/45002778/135966151-7a5312dd-837a-4aec-84a8-fb5ea9199510.png)

[2021-10-05 17:44] zonayedpca commented on #558
Sorry, we had one PR wrongly merged that was creating the issue, it should be live soon... Thanks for informing us... :)

[2021-10-05 17:44] #558 closed, assigned to nobody

[2021-10-06 12:35] Biplob14 opened #567 "HTTP request response"
Can we start a portion with HTTP request and response codes?

[2021-10-07 09:50] Abu-Zakaria commented on #430
আমি জাকারিয়া.. একজন Web Developer. আমি ৪ বছর ধরে Web Development নিয়ে কাজ করছি
devsonket-এ আমি কিছু contribution করেছি. আরো contribution করার ইচ্ছা আছে
আমি devsonket-এর maintainer হইতে ইচ্ছুক

[2021-10-08 08:08] msisaifu opened #572 "Svelte এর চিটশীট সংযুক্ত করতে চাই"

[2021-10-08 08:12] sabbirshawon commented on #572
Readme.md থেকে কিভাবে কনট্রিবিউট করতে হয় দেখে শুরু করে দেন কাজ। @msisaifu

[2021-10-10 19:52] #430 closed

[2021-10-11 16:22] #530 closed, assigned to nobody

[2021-10-16 03:14] istiak101 opened #590 "Redundant file shell.json"
Isn't shell.json redundant because it contains most of the commands from linux-command-line.json?

What would be more viable? Add more commands and split them into multiple cheatsheet or a single cheatsheet file?

https://github.com/devsonket/devsonket.github.io/blob/develop/data/linux-command-line.json
https://github.com/devsonket/devsonket.github.io/blob/develop/data/shell.json

[2021-10-17 12:29] istiak101 commented on #590
Yes both are separated but some of the contents are actually in both files.

[2021-10-17 12:36] sabbirshawon commented on #590
Got it bro both are separated but most of the lines are same, I think if it will merge with both lines Then it will be okay @istiak101 or stay as it is.

[2021-10-17 12:40] istiak101 commented on #590
Can you suggest an action? I am ok doing a PR if required.

[2021-10-25 04:06] #572 closed, assigned to msisaifu

[2021-11-17 13:58] HridoyHazard opened #622 "C++ Array Function Sort Correction"
in cheatsheet only sort() is written which seems not proper and wrong. it should be like this `sort(array,array+n)` (ascending order)

[2021-11-17 13:58] HridoyHazard commented on #622
i want to fix this

[2021-11-20 05:32] HridoyHazard commented on #622
Here is the PR #625

[2021-11-20 05:38] Rafat97 opened #626 "`next-js` print page problem"
# Problem

When I go the `next-js` print page. I saw some card content does not showing. I give a screenshot.

page-URL: https://devsonket.com/print/nextjs/

Specification-
Browser: Google Chrome | Version 96.0.4664.45 (Official Build) (64-bit)
OS : Windows 10 (64bit)

# Screenshot

![image](https://user-images.githubusercontent.com/21246862/142715826-23901a41-62ed-4661-bb33-b9a501fbeb04.png)

[2021-11-20 06:15] Rafat97 opened #627 "AWS-CLI, nginx, Visual Studio Code, চিটশীট এড করতে চাচ্ছিলাম"
কি কি চান বিস্তারিত লিখুন
AWS-CLI, nginx, Visual Studio Code,

I can contribute this cheatsheet .

[2021-11-20 06:47] HridoyHazard commented on #627
i'm interested in visual studio cheatsheet. let's do it together vai

[2021-11-20 14:04] Rafat97 commented on #627
@HridoyHazard. ভাই আমি স্টার্ট করতে রাজি আসি ।
কিন্তু , author দের কাছ থেকে আগে acceptance  লাগবে, যে তাদের এই cheatsheet গুলা লাগবে কি না ?

[2021-11-21 12:56] HridoyHazard commented on #310
Added Axios Data Cheatsheet
Here Is The Pr #628

[2021-11-22 06:37] #622 closed, assigned to nobody

[2021-12-08 08:29] solayman-bd opened #634 "কিসের চিটশীট চান?"
JavaScript cheat sheet

[2021-12-27 12:56] farhancdr opened #636 "ভিম এর একটা চিটশীট করা যায়।"
ভিম নিয়ে সাইটে কোনো চিটশীট নেই! ভিম রিলেটেড একটা চীটশিট করা যায়।

[2022-01-06 09:57] Efty131 opened #638 "Test"
:)

[2022-01-06 09:57] #638 closed, assigned to nobody

[2022-02-04 10:54] farhan2077 commented on #626
The issue is only available while previewing the page. While printing you will not face this issue. So it seems like this print preview page may need some refactoring.

[2022-02-04 11:00] farhan2077 commented on #634
JS cheat sheet is already available > https://devsonket.com/js-one-glance/

[2022-02-06 11:29] Rafat97 commented on #626
@farhan2077, thanks for consider this is an issue. Today I found another problem.

![Screenshot_20220206-173459_Print Spooler](https://user-images.githubusercontent.com/21246862/152678654-176cf3a7-b1d3-4c56-bf3a-b5488b0760ac.jpg)

So, we need to fix this layout as early as possible.

[2022-02-17 14:35] Sampad-Sarker opened #652 "কিসের চিটশীট চান?"
plz , make a cheat sheet on bitbucket cli

and update vuejs version 4 and vuex version4

[2022-02-23 21:46] shu-vro opened #654 "Cheat sheet about Firebase cli"
আপনাদের এই প্রচেষ্টার জন্য অসংখ্য ধন্যবাদ।

firebase cli এর উপর একটি চিট শিট হলে ভালো হতো।

[2022-02-24 09:35] Programmer-anik opened #655 "কিসের চিটশীট চান?"
We need a javascript cheatsheet like others. It will be helpful fo me as well as  others

[2022-04-10 09:11] ihasidul opened #662 "Tmux Cheat Sheet & Quick Reference is needed."

[2022-04-23 06:54] jaamaalxyz opened #667 "Oracle DB চিটশিট যোগ করতে চাই।"
Oracle DB related commands গুলোর চিটশিট যোগ করতে চাই।

[2022-04-25 10:23] Tajbir007 opened #668 "Notepad++ এর চিটশিট যোগ করতে চাই!"

[2022-04-27 00:24] zonayedpca commented on #567
Sure we can, please go ahead

[2022-04-27 00:26] zonayedpca commented on #627
জি অবশ্যই শুরু করুন, দেরীতে রিপ্লাই দেওয়ার জন্য দুঃখিত

[2022-04-27 00:27] #634 closed, assigned to nobody

[2022-04-27 00:27] zonayedpca commented on #636
জি অবশ্যই, কেউ আগ্রহী হলে জানাবেন... ধন্যবাদ

[2022-04-27 00:28] zonayedpca commented on #652
অবশ্যই... কেউ আগ্রহী হলে জানাবেন... ধন্যবাদ

[2022-04-27 00:29] zonayedpca commented on #654
জি অবশ্যই অনেক কাজে আসতো... কেউ আগ্রহী হলে জানাবেন... ধন্যবাদ

[2022-04-27 00:30] zonayedpca commented on #655
জাভাস্ক্রিপ্ট নিয়ে বেশ কয়েকটা আছে, যেমন এটা একটাঃ https://devsonket.com/js-one-glance

আরো স্পেসিফিক কোনো বিষয়ের উপর যদি চান, তাহলে অবশ্যই রিকোয়েস্ট করবেন... ধন্যবাদ

[2022-04-27 00:30] #655 closed, assigned to nobody

[2022-04-27 00:31] zonayedpca commented on #662
কেউ আগ্রহী হলে এগুলোর উপর কাজ শুরু করতে পারেন

[2022-04-27 00:31] zonayedpca commented on #667
প্লিজ ভাই, শুরু করুন...

[2022-04-27 00:32] zonayedpca commented on #668
অবশ্যই ভাই প্লীজ শুরু করুন... ধন্যবাদ

[2022-04-27 06:10] Tajbir007 commented on #668
আসসালামু আলাইকুম স্যার,আমি চিটশিট যোগ করেছি...দয়া করে চেক করবেন প্লিজ!

[2022-04-28 02:12] #668 closed, assigned to Tajbir007

[2022-05-04 04:47] #258 closed

[2022-05-06 07:42] #667 closed, assigned to jaamaalxyz

[2022-05-07 10:31] hafijul233 commented on #662
I am interested.

[2022-05-07 13:09] ihasidul commented on #662
@hafijul233 You can get ideas from [here]( https://tmuxcheatsheet.com/)

[2022-05-07 13:39] hafijul233 commented on #662
Thanks

[2022-05-08 05:52] naimul3070 opened #673 "Helm and kubernatis ingress controller"
install to diployment

[2022-05-10 05:04] #673 closed, assigned to nobody

[2022-06-15 20:06] mah-shamim commented on #636
I am interested.

[2022-06-15 20:23] sabbirshawon commented on #636
তাহলে লেখা শুরু করে দিন।

[2022-06-16 19:48] mah-shamim commented on #662
thanks

[2022-07-31 18:52] mah-shamim commented on #654
can I try this?

[2022-07-31 20:06] hafijul233 opened #689 "CodeIgniter 4 চিট শীট"
আমি CodeIgniter ফ্রেমওয়ার্ক সংস্করণ 4 চিটশিট অফার করতে চাই।
এটি আগেরটির জন্য প্রায় পুনর্লিখিত আপগ্রেডেশন। পুরানো সিনট্যাক্স কাজ নাও করতে পারে যা বর্তমানে এই সাইটে প্রকাশিত হয়েছে।

[2022-08-02 17:26] devnurullahhossain opened #690 "কিসের চিটশীট চান?"
Tailwind css

[2022-08-02 19:51] sabbirshawon commented on #690
Here is your cheatsheet: https://devsonket.com/tailwindcss @nurullahhossain

[2022-08-02 19:52] #690 closed, assigned to nobody

[2022-08-08 02:53] sabbirshawon commented on #689
ধন্যবাদ আপনি আগের টি চাইলে আপগ্রেড করতে পারেন অথবা নতুন কোডইগ্নিটর এ দিয়ে নতুন আরেকটি করতে পারেন @hafijul233

[2022-08-24 12:23] fluentmoheshwar opened #698 "PowerShell"
Cheetsheet about powershell core and windows powershell.

[2022-08-29 20:03] ataulweb opened #700 "কিসের চিটশীট চান?"
JavaScript advanced

[2022-09-02 07:09] iemad opened #701 "Search Option in Pages"
If you add a search bar in different pages so that users can search both in English and Bangla in a specific page then one can find expected things easily.
![Screenshot_1](https://user-images.githubusercontent.com/17620076/188079219-637922bc-197f-4058-a17e-0154692f3fe4.png)

[2022-09-06 04:58] #406 closed

[2022-09-06 04:58] shaonkabir8 commented on #406
Completed already

[2022-09-17 16:58] AsifITk opened #702 "কিসের চিটশীট চান?"
কি কি চান বিস্তারিত লিখুন socket.io

[2022-09-18 09:08] A9FM opened #706 "কিসের চিটশীট চান?"
কি কি চান বিস্তারিত লিখুন

[2022-10-01 13:54] tahmid02016 opened #712 "পাইথনের nltk মডিউলের চিটশিট"
আমি পাইথনের nltk মডিউলের উপরে একটি চিটশিট তৈরি করতে চাচ্ছি।

NLTK মডিউল ব্যবহার করে পাইথনে ন্যাচারাল ল্যাঙ্গুয়েজ প্রসেসিংয়ের কাজ করা হয়। মডিউল সম্পর্কে বিস্তারিত [এখানে](https://www.nltk.org/) পাওয়া যাবে।

[2022-10-01 15:02] sabbirshawon commented on #712
চিটশিট এর ড্রাফট করে কাজ শুরু করে দিন।

[2022-10-02 08:31] #712 closed, assigned to nobody

[2022-10-02 19:18] mah-shamim opened #720 "YAML Cheet Sheet"
YAML Cheet Sheet

[2022-10-02 19:43] mah-shamim opened #722 "composer চিট শীট"
আমি **_composer_**  চিটশিট অফার করতে চাই।

[2022-10-02 22:08] hafijul233 opened #723 "সম্পাদক কনফিগারেশন চিট শীট"
আমি সম্পাদক এবং আইডিই কনফিগারেশন ম্যানেজার স্ক্রিপ্ট এডিটর কনফিগার চিট শীট প্রদান করতে চাই।

[2022-10-03 07:42] HridoyHazard commented on #512
#730
here is the pr

[2022-10-03 07:44] hashemirafsan opened #732 "Elasticsearch এর চিট শীট"
আমি Elasticsearch এর চিট শীট নিয়ে কাজ করতে চাই

[2022-10-03 08:43] hafijul233 commented on #723
Thank you.

[2022-10-03 08:43] #723 closed, assigned to nobody

[2022-10-03 11:51] sabbirshawon commented on #732
ড্রাফট করে কাজ শুরু করে দিন ভাই, আমি এসাইন করে দিয়েছি। @hashemirafsan .

[2022-10-03 19:05] mah-shamim opened #739 "Tarvis-CI চিট শীট"
আমি Tarvis-CI চিটশিট অফার করতে চাই।

[2022-10-05 06:19] saadh393 opened #754 "Add New Feature, Copy to Clipboard"
চিটশীট গুলো কাজের ক্ষেত্রে অনেক উপকার করে, তবে যদি "Copy to Clipboard" এই ফিচার টি থাকতো, তাহলে অনেক সুবিধা হতো ।

[2022-10-06 17:02] HridoyHazard commented on #636
this issue should be closed

[2022-10-06 20:40] mah-shamim opened #762 "Dockerfile চিট শীট"
কিভাবে আপনি একটি Dockerfile লিখবেন? আমি তার চিটশিট অফার করতে চাই।

[2022-10-10 10:50] HridoyHazard commented on #537
#773
selenium cheatsheet

[2022-10-10 19:47] #762 closed, assigned to nobody

[2022-10-10 19:48] #739 closed, assigned to mah-shamim

[2022-10-10 19:48] #722 closed, assigned to mah-shamim

[2022-10-10 19:48] #720 closed, assigned to nobody

[2022-10-10 19:56] mah-shamim opened #774 "docker-compose.yml চিট শীট"
কিভাবে আপনি একটি docker-compose.yml লিখবেন? আমি তার চিটশিট অফার করতে চাই।

[2022-10-15 03:12] #774 closed, assigned to nobody

[2022-10-15 11:13] 0xMahabub opened #789 "Java Cheatsheet | Issue: সহজে অদলবদল দুইটির মান consol.log(x) //10; \n Fix this please... :)"
let x =5, y=10;

    [x,y]=[y,x];

    consol.log(x) //10; // ERROR

    consol.log(y) //5 // ERROR

    just change it to ===>
    System.out.println(x); // fixed

[2022-10-15 11:21] 0xMahabub commented on #789
I have opened a pull request :)
Please check & verify or merge this.
#790
@zonayedpca

[2022-10-15 13:07] HridoyHazard commented on #732
what's the update @hashemirafsan vai? if you're not doing it can i work on this issue??

[2022-10-15 13:45] HridoyHazard commented on #537
#792
maven cheatsheet

[2022-10-15 13:59] 0xMahabub opened #793 "C cheatsheet | প্রিমিটিভ ভ্যারিয়েবল টাইপ(ফ্লোট) wrong texts"
![Screenshot from 2022-10-15 19-59-00](https://user-images.githubusercontent.com/86561283/195990475-d40d0a5b-265c-42fd-8d49-2b74e1e7af84.png)
Please correct this texts

[2022-10-15 14:18] 0xMahabub commented on #793
@zonayedpca can I touch this?

[2022-10-15 14:33] zonayedpca commented on #793
Yes definitely you can edit/modify/correct any cheatsheet data. Thanks

[2022-10-15 16:01] 0xMahabub commented on #793
#794 plz  check this out

[2022-10-15 17:11] #789 closed, assigned to nobody

[2022-10-15 17:22] #793 closed, assigned to nobody

[2022-10-16 11:12] #310 closed

[2022-10-16 15:13] HridoyHazard commented on #537
#809
junit cheatsheet

[2022-10-16 15:28] 0xMahabub opened #810 "Astro JS এর চিটশীট ✍🏻"
Astro JS এর চিটশীট ✍🏻
It's initial cheat-sheet is complete, going to add that...
👍🏻

[2022-10-16 15:40] 0xMahabub commented on #810
### #811 opened a **PR**
plz check & merge this new cheat-sheet

👍🏻

[2022-10-17 15:46] hashemirafsan commented on #732
Sure bhai recently i'm busy with another works, you can start

[2022-10-17 15:50] HridoyHazard commented on #732
thank you vai

thank you vai

[2022-10-17 17:27] #810 closed, assigned to nobody

[2022-10-19 14:00] 0xMahabub commented on #706
Please make the development server **hot-reload** or **fast-refresh**

[2022-10-23 14:52] Akash190104 opened #838 "Readme.md in english"
I was thinking if it would help if I translated the README.md to english as it would help English speakers understand the project and contribute even if they don't understand the language.

[2022-10-23 17:17] 0xMahabub opened #841 "NestJS framework @New Cheat-sheet"
**NestJS** is a progressive nodejs based (uses TypeScript) backend framework built on the top of expressJs and fastify too. It is also called backend for angular developers.
I would like to make a new cheatsheet about it [**NEW**]
Others are also invited :)

[2022-10-23 17:54] kabirsumn opened #842 "MarkDown"
মার্ক ডাউন ফরম্যাটে হেডিং/প্যারাগ্রাফ সহ আর্টিকেল আকারে সুন্দর ভাবে উপস্থাপন করা যায়

[2022-10-25 06:59] Akash190104 opened #855 "Translating Contributing guidelines in README.md to Bengali"
I would like to translate the contributing guidelines in README.md to bengali too. Please assign this issue to me.

[2022-10-26 10:11] raihaninfo opened #862 "গিন-গনিক (`gin-gonic` Golang Web Framework ) নিয়ে একটা চিটসিট করতে চাই।"
[গিন-গনিক](https://gin-gonic.com/) (Golang Web Framework ) নিয়ে একটা চিট করতে চাই।

[2022-10-26 12:38] #862 closed, assigned to nobody

[2022-10-26 12:39] raihaninfo opened #863 "জিন-গনিক (`gin-gonic` Golang Web Framework ) নিয়ে একটা চিটসিট করতে চাই।"
[জিন-গনিক](https://gin-gonic.com/) (gin-gonic Golang Web Framework ) নিয়ে একটা চিটসিট করতে চাই।

[2022-10-26 13:59] HridoyHazard commented on #841
here is the pr #864

[2022-10-26 14:38] 0xMahabub commented on #841
It's done ✅

[2022-10-26 14:38] #841 closed, assigned to nobody

[2022-10-27 09:34] shohelranabadc opened #868 "IndexedDB cheet sheet"
Needed indexedDB cheet sheet

[2022-10-27 16:39] yaman1337 opened #870 "change readme to universal language like English"
Unable to understand the readme due to the language used.

[2022-10-30 13:08] raihaninfo commented on #863
PR https://github.com/devsonket/devsonket.github.io/pull/869

[2022-10-31 07:54] #863 closed, assigned to nobody

[2022-11-17 06:16] 0xMahabub opened #908 "Adding contributors generated banner in readme"
আমরা contributors দের ব্যানার ইমেজ যোগ করতে পারি readme তে। যেটা প্রায় সবখানে দেখা যায়।

I tried an example #907

![image](https://user-images.githubusercontent.com/86561283/202372608-ad2ad60c-5f0f-4983-a839-868543a11541.jpeg)

[2022-11-17 14:08] #908 closed, assigned to nobody